@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 0 5rem;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav ul li {
    margin-left: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li a {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 1rem; /* 16px */
    text-decoration: none;
    line-height: 1;
    height: 100%;
}

nav ul li a:hover {
    color: #76B852;
    text-decoration: none;
}

.logo-zone {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
}

.site-logo {
    width: 1.25rem; /* 20px */
    height: 1.5rem;  /* 24px */
    margin-right: 0.5rem;
}

.site-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
}
